# flyctl launch added from .gitignore
**\﻿################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
fly.toml
